# Python
__pycache__/
*.py[cod]
*.so
.Python
env/
venv/
.venv

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Model files (optional – if large)
*.pkl
*.joblib
*.h5

# Environment
.env